.cache
.local
*/__pycache__/
.idea/
.vscode/
.vs/
logs/
.DS_Store
LICENSE.txt
media/**
gulpStatic/node_modules
Pipfile.lock
db.sqlite3
logstash.db
tmp_dir/*
*.pem
wsgi.py
requests_cache.sqlite
website/
*.pyc

.venv
venv/
.venv
.virtualenvs
/virtualenv
/venvvirtus/

static/debug_toolbar/*
.env
.env.dev
.env.hml
.env.prod

testes.html
testes.json
testes.http
testes.py
.testmondata
.pytest_cache

*.orig
.python-version
env.prod

report.*
