* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-h5{
    font-size: 1.4rem;
    font-weight: bold;
    margin: 2% 2%;
}
/* body */
.body{
    height: 100%;
    width: 100%;
    background-color: #F8F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 0;
}

.div-company{
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
    
}