* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.head{
    background-color: #2B2525;
    height: 8vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
}

.head-text{
    /* height: 8vh; */
    display: flex;
    flex-direction: row;
    padding: 0 2em;
}

.text-head{
    align-self: center;
    color: #fff;
    padding: 10px 5px 0 5px;
    font-size: 1.2rem;
}

.text-name{
    font-weight: 600;
}

.link:link{
    color: #fff;
    text-decoration: none;
}

.link:visited{
    color: #fff;
    text-decoration: none;
}


.link:hover{
    font-weight: 700;
    text-decoration: none;
}

.link:active{
    color: #000;
    text-decoration: none;
}

.icons-link:link{
    color: #000;
    text-decoration: none;
}

.icons-link:visited{
    color: #000;
    text-decoration: none;
}


.icons-link:hover{
    font-weight: 700;
    text-decoration: none;
}

.icons-link:active{
    color: #000;
    text-decoration: none;
}

/* body */

.body{
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-icon-accessibility{
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: end;
    padding: 2rem 2rem;
}

.icon{
    font-size: 30px;
    margin-top: 1rem;
    margin-right: 1rem;
}

.div-form{
    height: 30vh;
    width: 75%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 2rem;
}

.field-form{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.button{
    color: #fff;
    width: 4rem;
    background-color: #2596be;
    border-radius: 15px;
    float: right;
}

label{
    margin: 0 0.75rem ;
    
}

h5{
    padding: 2% 5% ;
}

.div-perfil{
    width: 75%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.div-dados{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}