{% extends 'base.html' %} {%load static %} {% load custom_filter %}
{%block css%}
<link rel="stylesheet" href="{% static 'css/utils/filtro.css' %}" />
<link rel="stylesheet" href="{% static 'css/utils/container_default.css' %}" />
<link rel="stylesheet" href="{% static 'css/company/busca_company.css' %}" />
{%endblock css%}

{%block body%}
<div class="div-form">
    <form action="">
        <h5 class="form-h5">Pesquisa de Empresas</h5>

        <div class="div-row1">
            <div class="form-field">
                <label for="company">Empresa:</label>
                <div class="form-input">
                    <input type="text" name="company" placeholder="Empresa" class="form-control" value="{{request.session.company|default_if_none:''}}">
                </div>
            </div>

            <div class="form-field">
              <label for="business_area">Setor de Atuação</label>
              <div class="form-input">
                  <select class="form-control" name="business_area" id="business_area">
                      <option value="" selected>Todos</option>
                      {% for area in business_areas %}
                      <option value="{{area.0}}" {%if request.session.business_area == area.0%} selected {%endif%}>{{area.1}}</option>
                      {% endfor %}
                  </select>
              </div>
            </div>
        </div>
        <input type="submit" class="form-button" value="Filtrar" />
    </form>
</div>

{% for company in company_list %}
<a href="{% url 'company_profile' id=company.id %}" class="div-container">
  <div class="photo">  
    <img src="{{ company.get_url_photo }}" class="photo-img" alt="foto da empresa">
  </div>  
  <div class="div-dados">
        <p class="p-dados p-negrito">{{company.name}}</p>
        <p class="p-dados">{{company.business_areas}}</p>
        <p class="p-dados">{{company.city}}, {{company.state}}</p>
  </div>
  <p></p>
</a>
{% endfor %}

{% if company_list.has_other_pages %}
<ul class="pagination">
  {% if company_list.has_previous %}
  <li class="page-item">
    <a class="page-link" href="?page=1">
      First
    </a>
  </li>
  <li class="page-item">
    <a class="page-link"
      href="?page={{ company_list.previous_page_number }}">
      &laquo;
    </a>
  </li>
  {% else %}
  <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
  {% endif %}
  {% for i in page_range %}
  {% if company_list.number == i %}
  <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
  {% else %}
  <li class="page-item">
    <a class="page-link"
      href="?page={{ i }}">
      {{ i }}
    </a>
  </li>
  {% endif %}
  {% endfor %}
  {% if company_list.has_next %}
  <li class="page-item">
    <a class="page-link"
      href="?page={{ company_list.next_page_number }}">
      &raquo;
    </a>
  </li>
  <li class="page-item">
    <a class="page-link"
      href="?page={{ company_list.paginator.num_pages }}">
      Last
    </a>
  </li>
  {% else %}
  <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}

{% endblock body%}