{% extends 'base.html' %} {% load custom_filter %}
{% load static %}
{%block title%}{{company.name}}
{%endblock title%}
{% block body %}

{% block css %}
<link href="{% static 'css/utils/container_default.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/company/company_profile.css' %}" rel="stylesheet" type="text/css">

{% endblock css %}

<div class="div-container div-infos">

    <div class="div-icon">
        <!-- TODO redirecionar para tela de edicao/cadastro de empresa -->
        {% if is_same_company %}
        <a href="{% url 'company_edit' id=company.id %}" class="icon-edit"><i class="fa-solid fa-pen-to-square icon"></i></a>
        {% endif %}
    </div>

   <div class="div-content">

        <div class="photo">
            <div>
                <img src="{{ company.get_url_photo }}" class="photo-img" alt="foto de perfil da empresa">   
            </div>
        </div>

        <div class="infos">
            <h3>{{company.name}}</h1>
            <p>{{company.business_area|display_business_area}}</p>
            <p>{{company.city}}, {{company.state}}</p>
        </div>

        <p></p>

    </div>
    <div class="admin">
        <label for="admins">Administradores:</label>
        <a href="" class="button-admins">Adicionar</a>
    </div>
    
</div>

<div class="div-container div-several">
   
    <div class="div-head">
        <h3>Sobre</h3>
    </div>

    <div class="div-text">
        <p>{{company.about_us}}</p>
    </div>

</div>

<div class="div-container div-several" id="div-content-competence">
    <div class="div-head">
        <h3>Vagas</h3>
        {% if is_same_company %}
        <a href="{% url 'registrar_vagas' id=company.id %}"><i class="fa-solid fa-plus icon"></i></a>
        {% endif %}
    </div>

    <div class="div-several-content" id="div-vaga">
        {% for vacancy in company.vacancies.all %}
        {% if not profile_user.is_applicant or profile_user.is_applicant and vacancy.status in 'ATV,PEN' %}
        <a href="{% url 'exibir_vagas' id=company.id id_vacancy=vacancy.id %}" class="div-several-row">
            <!-- <a href="{% url 'exibir_vagas' id=company.id id_vacancy=vacancy.id %}"> -->
            <img src="{{ vacancy.get_url_photo }}" class="img-several" alt="imagem representativa para vagas">

            <div class="div-dados div-several-row-text">
                <h5>{{vacancy.job_position}}</h5>
                <div class="div-info-vagas">
                    <p class="text-vagas">{{vacancy.job_modality|display_job_modality}}</p>
                    <p class="text-vagas">{{vacancy.city}}, {{vacancy.state}}</p>
                    <p class="text-vagas">{{vacancy.job_type|display_job_type}}</p>
                    <p>{{vacancy.seniority|display_seniority}}</p>
                </div>
            </div>
            <p style="margin-left: 50px;"></p>
        </a>
        {% if not company.vacancies.all|length == 1 %}
        <hr>
        {% endif %}
        {% endif %}

        {% endfor %}


    </div>
</div>

{% endblock body%}
