.body{
    background-color: #F8F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1%;
}

.form-div{
    overflow: scroll, hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-height: 85%;
    width: 90%;
    border-radius: 10px;
    padding: 2%;
}

.div-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30% 0 5%;
    margin: 15px 0;
}
.div-column{
    display: flex;
    flex-direction: column;
    padding: 0px 0;
}

.photo{
    border: 8px solid #000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    font-size: 8rem;
}

.photo-img{
    width: 186px;
    height: 186px;
    border-radius: 50%;
}

.file{
    display: none;
}

.picture{
    width: 200px;
    height: 50px;
    background-color: #FBE700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10px;
    &:active{
        background-color: #fbe6005b;
    }
}

.form-field{
    margin: 10px 0 10px 0;
}

.form-input{
    margin: 5px 0;
}

.input-line{
    width: 250%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #000;
    align-self: end;
    &:focus{
        outline: none;
    }
}


.button{
    height: 2rem;
    width: 6rem;
    background-color: #FBE700;
    border-radius: 15px;
    border: none;
    outline: none;
    margin: 0 2%;
}

.div-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4%;
}

.divcheckbox{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* margin-right: 5px; */
}

.label-checkbox{
    margin-top: 8px;
    margin-right: 10px;
}

.checkbox{
    display: flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    content: "";
    background-color: #fff;
    width: 20px;
    height: 20px;
    border: 0.05em solid #000;
    border-radius: 0.30em;
    cursor: pointer;
    margin-right: 7px;
    margin-top: 10px;
    &:checked{
        background-color: #fdec00;
    }
}

.checkbox:before {
    content: '';
    background: transparent;
    border-radius: 0;
    border: 4px solid #FFF;
    border-left: 0;
    border-top: 0;
    width: 7px;
    height: 12px;
    transform: rotate(45deg);
    opacity: 0;
    transition: all 20ms ease-in-out;
    position: absolute;
}

.checkbox:checked:before {
    opacity: 1;
}

.div-row2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5%;
    margin: 15px 0;
    width: 100%;
    margin: 10px 0 10px 0;
}

.form-field2{
    background-color: aqua;
    width: 100%;
    margin: 10px 0 10px 0;
}

.textarea{
    height: 10rem;
    display: block;
    width: 100%;
    overflow: hidden;
    resize: none;
}