*{
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgb(192, 192, 191);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(135, 135, 138);
    border-radius: 20px;
}

.body{
    background-color: #F8F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    min-height: 100vh;
}

.form-div{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 80vh;
    width: 90%;
    border-radius: 10px;
    padding: 2%;
}

.p-title{
    font-weight: bold;
}

.p-title1{
    font-size: 1.5rem;
    font-weight: bold;
}

.div-row{
    display: flex;
    flex-direction: row;
}
.div-column{
    display: flex;
    flex-direction: column;
    padding: 0px 0;
}

.div-form-field{
    width: 50%;
    margin-bottom: 20px;
}

.div-row .form-input{
    max-width: 70%;
}

.form-button{
    font-size: 1.2rem;
    color: #fff;
    width: 6rem;
    background-color: #208BE8;
    border-radius: 15px;
    border: none;
    float: right;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 6rem;
    background-color: #2bbf6c;
    border-radius: 15px;
    border: none;
    outline: none;
    margin: 0 2%;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    &:link{
        color: #000;
        text-decoration: none;
    }
    &:visited{
        color: #000;
        text-decoration: none;
    }
}

.button-etp{
    height: 2rem;
    width: 6rem;
    background-color: green;
    border-radius: 15px;
    border: none;
    outline: none;
    margin: 0 0.5%;
}

.div-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.textarea{
    height: 10rem;
    display: block;
    width: 100%;
    overflow: hidden;
    resize: none;
}

.div-etapas-cadastradas{
    overflow: auto;
    max-height: 570px;
}

.div-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.linha {
    display: block;
    border-style: inset;
    border-width: 1px;
    border-color: #ddd;
}

.etapa-title{
    font-size: 1.2rem;
    font-weight: bold;
}

.etapa-text{
    font-size: 1rem;
}

.description{
    margin-left: 60px;
    /* background-color: #208BE8; */
    width: 90%;
}

.buttons-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: #FBE700; */
    width: 10%;
}

.icon-several{
    font-size: 20px;
    margin-right: 22px;
    margin-top: 2.5%;
    height: 20px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    &:link{
        color: #000;
        text-decoration: none;
    }
    &:visited{
        color: #000;
        text-decoration: none;
    }
}

.icon-trash{
    color: #c92626;
}

.div-description-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

@media (max-width:480px) {

    .div-icon-accessibility{
        position: absolute;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: end;
        padding: 1rem 1rem;
        font-size: 30px;
        margin-top: 1.5rem;
    }

    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 6rem;
        background-color: #2bbf6c;
        border-radius: 15px;
        border: none;
        outline: none;
        margin: 4% 2%;
        cursor: pointer;
        color: #000;
        text-decoration: none;
        &:link{
            color: #000;
            text-decoration: none;
        }
        &:visited{
            color: #000;
            text-decoration: none;
        }
    }
    
}
