.body{
    background-color: #F8F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.div-icon-accessibility{
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: end;
    padding: 2rem 2rem;
    font-size: 30px;
    margin-top: 3rem;
}

.form-div{
    overflow: scroll, hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 80vh;
    width: 90%;
    border-radius: 10px;
    padding: 2%;
}

.p-title{
    font-weight: bold;
}

.p-title1{
    font-size: 1.5rem;
    font-weight: bold;
}

.div-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30% 0 0;
    margin: 15px 0;
}
.div-column{
    display: flex;
    flex-direction: column;
    padding: 0px 0;
}

.form-field{
    margin: 10px 0 10px 0;
}

.form-input{
    margin: 5px 0;
}

.button{
    height: 2rem;
    width: 6rem;
    background-color: #FBE700;
    border-radius: 15px;
    border: none;
    outline: none;
    margin: 0 2%;
}

.button-etp{
    height: 2rem;
    width: 6rem;
    background-color: green;
    border-radius: 15px;
    border: none;
    outline: none;
    margin: 0 0.5%;
}

.div-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4%;
}

.textarea{
    height: 10rem;
    display: block;
    width: 100%;
    overflow: hidden;
    resize: none;
}

.etapas{
    margin-top: 2%;
}

@media screen and(max-width: 480px) {
    
}