.body{
    background-color: #F8F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.div-field{
    height: 30%;
    width: 70%;
    background-color: #fff;
    border-radius: 10px;
    margin: 2rem;
    padding: 1%;
}

.div-row{
    display: flex;
    flex-direction: row;
}

.p-form{
    margin-left: 35%;
}

.div-field2{
    height: 70%;
    width: 70%;
    background-color: #fff;
    border-radius: 10px;
    margin: 2rem;
    padding: 1%;
}

.div-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photo{
    margin: 0 20px;
}

.photo-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 2%;
}

.div-dados{
    display: flex;
    flex-direction: column;
}

.p-dados{
    font-size: 1rem;
    margin: 0.5rem 0;
}

.p-negrito{
    font-weight: bold;
}

.bt-approved{
    margin-left: 78%;
}

.bt-checkbox{
    display: flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    content: "";
    background-color: #fff;
    width: 28px;
    height: 28px;
    border: 0.05em solid #000;
    border-radius: 0.30em;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 5px;
    &:checked{
        background-color: #fdec00;
    }
}

.bt-checkbox:before {
    content: '';
    background: transparent;
    border-radius: 0;
    border: 4px solid #000;
    border-left: 0;
    border-top: 0;
    width: 9px;
    height: 14px;
    transform: rotate(45deg);
    opacity: 0;
    transition: all 20ms ease-in-out;
    position: absolute;
}

.bt-checkbox:checked:before {
    opacity: 1;
}


.div-button{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.form-button{
    font-size: 1.4rem;
    color: #fff;
    width: 6rem;
    background-color: #208BE8;
    border-radius: 15px;
    border: none;
}

.form-button2{
    font-size: 1.4rem;
    color: #fff;
    width: 10rem;
    background-color: #208BE8;
    border-radius: 15px;
    border: none;
}

.div-scroll{
    max-height: 70%;
    overflow: scroll,auto;
}