@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

*{
  scrollbar-width: thin;
  scrollbar-color: rgb(192, 192, 191) rgb(135, 135, 138);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(192, 192, 191);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(135, 135, 138);
  border-radius: 20px;
}

body {
  height: 100vh;
}

nav.sidebar {
  width: 90px;
  height: 100%;
  background-color: #2B2525;
  padding-top: 40px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
}

nav.sidebar:hover {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.profile-image {
  border: 8px solid #000;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-info img {
  width: 186px;
  height: 186px;
  border-radius: 50%;
}

.profile-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-name {
  font-size: 20px;
  margin-bottom: 5px;
  color: #fff;
}

.profile-age {
  color: #fff; 
}

.expand-button {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.expand-button>h5 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.logo{
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.logo>h5 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.div-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 40px;
}

.menu-item-sair{
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

span.menu-item {
  transition: .2s;
  margin-bottom: 20px;
}


span.menu-item:hover {
  background: #f7f757bb;
}

span.menu-item a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 0;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 40px;
}

span.menu-item a .txt-link {
  transition: .5s;
  opacity: 0;
}

nav.sidebar:hover .txt-link {
  margin-left: 20px;
  opacity: 1;
  
}

.div-icon-accessibility{
  position: fixed;
  top: 23px;
  right: 10px;
  display: flex;
  flex-direction: row;
  padding: 2rem 2rem;
}

.div-icon-accessibility .icon{
  font-size: 30px;
  margin-top: 0.75rem;
  margin-right: 1rem;
}

.overlay {
  position: fixed;
  display: none; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #00000080;
  backdrop-filter: blur(2px);
  pointer-events: none;
  z-index: 990;  
}

nav.sidebar:hover ~ .overlay {
  display: flex;
}

@media (max-width: 480px) {
  
  nav.sidebar {
    width: 50px;
  }
  
  .div-list {
    margin-left: 20px;
  }
  
  span.menu-item a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 0;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 40px;
  }

  .div-icon-accessibility{
    position: fixed;
    top: 23px;
    right: 0px;
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
  }

  .expand-button>h5 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
  }
  
}