@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  height: 100vh;
}

nav.sidebar {
  width: 90px;
  height: 100%;
  background-color: #2B2525;
  padding-top: 40px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav.sidebar:hover {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 20px;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-name {
  margin-bottom: 5px;
  color: #fff;
}

.profile-age {
  color: #fff; 
}

.expand-button {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.expand-button>i {
  color: #fff;
  font-size: 24px;
}

ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 10px;
}

.menu-item-sair{
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

li.menu-item {
  transition: .2s;
  margin-bottom: 20px;
}


li.menu-item:hover {
  background: #f7f757bb;
}

li.menu-item a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 0;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 40px;
}

li.menu-item a .txt-link {
  transition: .5s;
  opacity: 0;
}

nav.sidebar:hover .txt-link {
  margin-left: 20px;
  opacity: 1;
  
}

.div-icon-accessibility{
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: end;
  padding: 2rem 2rem;
}

.div-icon-accessibility .icon{
  font-size: 30px;
  margin-top: 0.75rem;
  margin-right: 1rem;
}

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(247, 8, 8, 0.5); 
  pointer-events: none; 
  z-index: 1; 
  display: none; 
}

nav.sidebar:hover ~ .overlay {
  display: block; 
} */