<!-- Inicio modal Nova Competencia -->
<!-- <div id="modal-add-competence" class="modal">
    <h1>ola</h1>
</div> -->
<!-- Fim modal nova Competencia -->

<!-- Inicio modal nova experiencia -->
<!-- <div class="modal" id="modal-add-experience" role="dialog">
    <h1>ola</h1>
</div> -->
<!-- Fim modal nova experiencia -->

<div class="janela-modal" id="janela-modal">
    <div class="modal">
        <div class="modal-header">
            <h4>Adicionar Competência</h4>
            <a onclick="closeModal()"><i class="fa-solid fa-xmark"></i></a>
        </div>
    </div>
</div>
