{% extends 'base.html' %}
{% load static %}

{% block title %}{{ profile.full_name }}{% endblock title %}
{% block css %}
<link href="{% static 'css/utils/container_default.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/users/applicant_profile.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block body %}
<div class="div-container div-infos">
    {% if is_same_profile %}
    <div class="div-icon">
        <a href="{% url 'profile_edit' profile.id %}" class="icon-edit"><i class="fa-solid fa-pen-to-square icon"></i></a>
    </div>
    {% endif %}

   <div class="div-content">
        <div class="photo">
            <div>
                <img src="{{ profile.get_url_photo }}" class="photo-img" alt="foto de perfil">
            </div>
        </div>
        <div class="infos">
            <h3>{{ profile.full_name }}</h1>
            <p>{{ profile.birthdate }}</p>
            <p>{{ profile.city }}, {{ profile.state }}</p>
            
            {% if experience.last.is_working %}
            <h5>{{ experience.last.position}} | {{ experience.last.company}}</h5>
            {% endif %}
        </div>
        <div class="experience-formation">
            <p>google</p>
        </div>
    </div>
</div>

<div class="div-container div-several" id="div-content-competence">
    <div class="div-head">
        <h3>Competências</h3>
        {% if is_same_profile %}
        <a onclick="openModalCompetence()"><i class="fa-solid fa-plus icon"></i></a>
        {% endif %}
    </div>
    {% if competences %}
    {% for competence in competences %}
    <div class="div-several-content" id="div-competence-{{competence.id}}">
        {% if competence.experience.all.exists or competence.academic_formation.all.exists %}
        <h5>{{competence.competence_name}}</h5>
        <div class="div-several-row">
            <div class="several-row-text">
                {% if competence.experience.all.exists %}

                {% for experience in competence.experience.all %}
                <p>{{experience.position}} | {{experience.company}}</p>
                {% endfor %}
                {% endif %}

                {% if competence.academic_formation.all.exists %}

                {% for academic in competence.academic_formation.all %}
                <p>{{academic.course}} | {{academic.educational_institution}}</p>
                {% endfor %}
                {% endif %}
            </div>
            {% if is_same_profile %}
            <div class="div-several-row-icon">
                <a onclick="getCompetence('{{competence.id}}')" class="icon-several"><i class="fa-solid fa-pen"></i></a>
                <a onclick="deleteCompetence('{{competence.id}}')" class="icon-several icon-trash"><i class="fa-solid fa-trash"></i></a>
            </div>
            {% endif %}
        </div>
        {% else %}
        <div class="div-several-row">
            <h5>{{competence.competence_name}}</h5>
            {% if is_same_profile %}
            <div>
                <a onclick="getCompetence('{{competence.id}}')" class="icon-several"><i class="fa-solid fa-pen"></i></a>
                <a onclick="deleteCompetence('{{competence.id}}')" class="icon-several icon-trash"><i class="fa-solid fa-trash"></i></a>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% if not competences|length == 1 %}
        <hr>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="div-container div-several" id="div-content-academic">
    <div class="div-head">
        <h3>Formações acadêmicas</h3>
        {% if is_same_profile %}
        <a onclick="openModalAcademicFormation()"><i class="fa-solid fa-plus icon"></i></a>
        {% endif %}
    </div>
    {% if academic_educations %}
    {% for academic in academic_educations %}
    <div class="div-several-content">
        <div class="div-several-row" id="div-academic-{{academic.id}}">
            <img src="{{ profile.get_url_photo }}" class="img-several" alt="imagem referente à instituição ou empresa em que a competência foi adquirida ou exercida">
            <div class="several-row-text2">
                <p>{{academic.educational_institution}}</p>
                <p>{{academic.course}}</p>
                <p>{{academic.started_at}} - {{academic.ended_at}}</p>
            </div>
            {% if is_same_profile %}
            <div class="div-several-row-icon">
                <a onclick="getAcademicFormation('{{academic.id}}')" class="icon-several"><i class="fa-solid fa-pen"></i></a>
                <a onclick="deleteAcademic('{{academic.id}}')" class="icon-several icon-trash"><i class="fa-solid fa-trash"></i></a>
            </div>
            {% endif %}
        </div>
        {% if not academic_educations|length == 1 %}
        <hr>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="div-container div-several" id="div-content-experience" style="margin-bottom: 2%;">
    <div class="div-head">
        <h3>Experiências</h3>
        {% if is_same_profile %}
        <a onclick="openModalExperience()"><i class="fa-solid fa-plus icon"></i></a>
        {% endif %}
    </div>
    {% if experiences %}
    {% for experience in experiences %}
    <div class="div-several-content" id="div-experience-{{experience.id}}">
        <div class="div-several-row">
            <img src="{{ profile.get_url_photo }}" class="img-several" alt="imagem referente à instituição ou empresa em que a competência foi adquirida ou exercida">
            <div class="several-row-text2">
                <p>{{experience.position}}</p>
                <p>{{experience.company}} • {{experience.job_modality}}</p>
                <p>{{experience.started_at}} - {% if experience.is_working %}até o momento{% else %}{{experience.ended_at}}{% endif %}</p>
            </div>
            {% if is_same_profile %}
            <div class="div-several-row-icon">
                <a onclick="getExperience('{{experience.id}}')" class="icon-several"><i class="fa-solid fa-pen "></i></a>
                <a onclick="deleteExperience('{{experience.id}}')" class="icon-trash icon-several"><i class="fa-solid fa-trash"></i></a>
            </div>
            {% endif %}
        </div>
        {% if not experiences|length == 1 %}
        <hr>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% block modal%}
{% include "users/profile/applicant_profile_modal.html" %}
{% endblock modal %}

{% endblock body%}

{% block js %}
{% if is_same_profile %}
<script>
    function openModalExperience(edit=false){
        $("#modal-experience").addClass('abrir')
        if (!edit){
            document.getElementById("button-save-experience").setAttribute("onclick", "saveExperience()")
            $("#position").val('');
            document.getElementById("job_type").value = "";
            $("#company").val('');
            document.getElementById("job_modality").value = '';
            document.getElementById('is_working').checked = false
            document.getElementById("started_date_experience").value = null
            $("#ended_date_experience").val('');
            $("#business_area").val('');
        }
    }
    
    function closeModalExperience(){
        $('#modal-experience').removeClass('abrir')
    }

    function openModalAcademicFormation(edit=false){
        $("#modal-academic-formation").addClass('abrir')
        if (!edit){
            document.getElementById("button-save-academic").setAttribute("onclick", "saveAcademicFormation()")
            $('#educational_institution').val('')
            $('#course').val('')
            $('#knowledge_area').val('')
            document.getElementById("started_date").value = null
            document.getElementById("ended_date").value = null
        }
    }
    
    function closeModalAcademicFormation(){
        $('#modal-academic-formation').removeClass('abrir')
    }

    function openModalCompetence(edit=false){
        $("#modal-competence").addClass('abrir')
        if (!edit){
            document.getElementById("button-save-competence").setAttribute("onclick", "saveCompetence()")
            $('#competence').val('')
            var checkboxes = document.querySelectorAll('.checkbox')
            var experiences = []
            var academicTraining = []
    
            checkboxes.forEach(function(e){
                if (e.checked) {
                    var word = e.id.split('-')
                    if (word[0] == 'experience'){
                        $(`#experience-${word[1]}`)[0].checked = false
                    }else if (word[0] == 'academic_education'){
                        $(`#academic_education-${word[1]}`)[0].checked = false
                    }
                }
            })
        }
    }
    
    function closeModalCompetence(){
        $('#modal-competence').removeClass('abrir')
    }

    $('#is_working').click(function(){
        if (document.querySelector('#is_working').checked) {
            var ended_at = document.querySelector('#ended_date_experience')
            ended_at.disabled = true
            ended_at.required = false
        }else{
            var ended_at = document.querySelector('#ended_date_experience')
            ended_at.disabled = false
            ended_at.required = true
        }
    })

    function saveCompetence(){
        var competence = document.querySelector('#competence').value
        var checkboxes = document.querySelectorAll('.checkbox')

        var experiences = []
        var academicTraining = []

        checkboxes.forEach(function(e){
            if (e.checked) {
                var word = e.id.split('-')
                if (word[0] == 'experience'){
                    experiences.push(word.slice(-1)[0])
                }else if (word[0] == 'academic_education'){
                    academicTraining.push(word.slice(-1)[0])
                }
            }
        })

        const data = {
            'competence': competence,
            'experiences': experiences,
            'academic_traning': academicTraining,
        }
        // TODO fazer com que exiba retorno positivo ou negativo
        $.ajax({
            type: 'POST',
            url: "{% url 'save_competence' id=profile.id %}",
            dataType: 'json',
            headers: { "Content-Type": "application/json; charset=UTF-8","X-CSRFToken": '{{csrf_token}}' },
            data: JSON.stringify(data),
            success: function (retorno) {
                var competence = retorno.competence
                var competenceDiv = $('#div-content-competence')
                if (competence.experience || competence.academic){
                    var text = `<div class="div-several-content" id="div-competence-${competence.id}">
                        <h5>${competence.competence_name}</h5>
                        <div class="div-several-row">
                        <div class="several-row-text">`
                    if (competence.experience){
                        competence.experience.forEach(function(e){
                            text += `<p>${e.position} | ${e.company}</p>`
                        })
                    }
                    if (competence.academic){
                        competence.academic.forEach(function(e){
                            text += `<p>${e.course} | ${e.educational_institution}</p>`

                        })
                    }
                    text += `</div>
                            {% if is_same_profile %}
                            <div class="div-several-row-icon">
                                <a onclick="getCompetence('${competence.id}')" class="icon-several"><i class="fa-solid fa-pen"></i></a>
                                <a onclick="deleteCompetence('${competence.id}')" class="icon-several icon-trash"><i class="fa-solid fa-trash"></i></a>
                            </div>
                            {% endif %}
                        </div>
                        <hr>
                        </div>
                        `
                    competenceDiv.append(text)
                } else{
                    competenceDiv.append(
                        `
                            <div class="div-several-row">
                                <h5>${competence.competence_name}</h5>
                                {% if is_same_profile %}
                                <div>
                                    <a onclick="getCompetence('${competence.id}')" class="icon-several"><i class="fa-solid fa-pen"></i></a>
                                    <a onclick="deleteCompetence('${competence.id}')" class="icon-several icon-trash"><i class="fa-solid fa-trash"></i></a>
                                </div>
                                {% endif %}
                            </div>
                            <hr>
                        
                        `  
                    )
                }
                closeModalCompetence()
                new PNotify({
                    title:'Competência salva',
                    text: retorno.detail,
                    type: 'success',
                    delay:'5000'
                });


            },
            error: function (error) {
                if (error.statusText == 'timeout') {
                new PNotify({
                    title: 'Requisição Cancelada',
                    text: 'Requisição ao serviço cancelada. Tente novamente em alguns minutos.',
                    type: 'error',
                    delay: '5000'
                });
                }

                console.log(error);
            }
        });
    }

    function saveExperience(){
        var position = $("#position").val();
        var jobTypeSelect = document.getElementById("job_type");
        var jobType = jobTypeSelect.options[jobTypeSelect.selectedIndex].value;
        var company = $("#company").val();
        var jobModalitySelect = document.getElementById("job_modality");
        var jobModality = jobModalitySelect.options[jobModalitySelect.selectedIndex].value;
        var chk_isWorking = document.getElementById('is_working')
        var started_at = $("#started_date_experience").val();
        var ended_at = $("#ended_date_experience").val();
        var business_area = $("#business_area").val();

        data = {
            'position': position,
            'job_type': jobType,
            'company': company,
            'job_modality': jobModality,
            'is_working': chk_isWorking.checked,
            'started_at': started_at,
            'ended_at': ended_at,
            'business_area': business_area,
        }
        // TODO fazer validação do formulario
        $.ajax({
            type: 'POST',
            url: "{% url 'save_experience' id=profile.id %}",
            dataType: 'json',
            headers: { "Content-Type": "application/json; charset=UTF-8","X-CSRFToken": '{{csrf_token}}' },
            data: JSON.stringify(data),
            success: function (retorno) {
                var experience = retorno.experience
                var experienceDiv = $('#div-content-experience')
                var value_date = 'até o momento'

                if (experience.ended_at){
                    value_date = experience.ended_at
                }

                text = `
                <div class="div-several-content" id="div-experience-${experience.id}">
                    <div class="div-several-row">
                        <img src="${"{{profile.get_url_photo}}"}" class="img-several" alt="imagem referente à instituição ou empresa em que a competência foi adquirida ou exercida">
                        <div class="several-row-text2">
                            <p>${experience.position}</p>
                            <p>${experience.company} • ${experience.job_modality}</p>
                            <p>${experience.started_at} - ${value_date}</p>
                        </div>
                        <div class="div-several-row-icon">
                            <a onclick="getExperience('${experience.id}')" class="icon-several"><i class="fa-solid fa-pen "></i></a>
                            <a onclick="deleteExperience('${experience.id}')" class="icon-trash icon-several"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                    <hr>
                </div>
                `
                experienceDiv.append(text)
                
                closeModalExperience()
                new PNotify({
                    title:'Experiência salva',
                    text: retorno.detail,
                    type: 'success',
                    delay:'5000'
                });
            },
            error: function (error) {
                if (error.statusText == 'timeout') {
                new PNotify({
                    title: 'Requisição Cancelada',
                    text: 'Requisição ao serviço cancelada. Tente novamente em alguns minutos.',
                    type: 'error',
                    delay: '5000'
                });
                }

                console.log(error);
            }
        });
    }

    function saveAcademicFormation(){
        var educationalInstitution = $("#educational_institution").val();
        var course = $("#course").val();
        var knowledgeArea = $("#knowledge_area").val();
        var started_at = $("#started_date").val();
        var ended_at = $("#ended_date").val();

        data = {
            'educational_institution': educationalInstitution,
            'course': course,
            'knowledge_area': knowledgeArea,
            'started_at': started_at,
            'ended_at': ended_at,
        }
        // TODO fazer com que exiba retorno positivo ou negativo
        $.ajax({
            type: 'POST',
            url: "{% url 'save_academic_formation' id=profile.id %}",
            dataType: 'json',
            headers: { "Content-Type": "application/json; charset=UTF-8","X-CSRFToken": '{{csrf_token}}' },
            data: JSON.stringify(data),
            success: function (retorno) {
                var academic = retorno.academic
                var academicDiv = $('#div-content-academic')

                text = `
                <div class="div-several-row" id="div-academic-${academic.id}">
                    <img src="${"{{profile.get_url_photo}}"}" class="img-several" alt="imagem referente à instituição ou empresa em que a competência foi adquirida ou exercida">
                    <div class="several-row-text2">
                        <p>${academic.educational_institution}</p>
                        <p>${academic.course}</p>
                        <p>${academic.started_at} - ${academic.ended_at}</p>
                    </div>
                    <div class="div-several-row-icon">
                        <a onclick="getAcademicFormation('${academic.id}')" class="icon-several"><i class="fa-solid fa-pen"></i></a>
                        <a onclick="deleteAcademic('${academic.id}')" class="icon-several icon-trash"><i class="fa-solid fa-trash"></i></a>
                    </div>
                    <hr>
                </div>
                `
                academicDiv.append(text)
                
                closeModalAcademicFormation()
                new PNotify({
                    title:'Formação Acadêmica salva',
                    text: retorno.detail,
                    type: 'success',
                    delay:'5000'
                });

            },
            error: function (error) {
                if (error.statusText == 'timeout') {
                new PNotify({
                    title: 'Requisição Cancelada',
                    text: 'Requisição ao serviço cancelada. Tente novamente em alguns minutos.',
                    type: 'error',
                    delay: '5000'
                });
                }

                console.log(error);
            }
        });
    }

    function deleteCompetence(competence_id){
        $.ajax({
            type: 'delete',
            url: `/api/profile/${competence_id}/competence`,
            headers: { "Content-Type": "application/json; charset=UTF-8","X-CSRFToken": '{{csrf_token}}' },
            success: function (retorno) {
                $(`#div-competence-${competence_id}`).remove()
                new PNotify({
                    title:'Experiência excluída',
                    text: retorno.detail,
                    type: 'success',
                    delay:'5000'
                });
            },
            error: function (error) {
                if (error.statusText == 'timeout') {
                new PNotify({
                    title: 'Requisição Cancelada',
                    text: 'Requisição ao serviço cancelada. Tente novamente em alguns minutos.',
                    type: 'error',
                    delay: '5000'
                });
                }

                console.log(error);
            }
        });
    }

    function deleteExperience(experience_id){
        $.ajax({
            type: 'delete',
            url: `/api/profile/${experience_id}/experience`,
            headers: { "Content-Type": "application/json; charset=UTF-8","X-CSRFToken": '{{csrf_token}}' },
            success: function (retorno) {
                $(`#div-experience-${experience_id}`).remove()
                new PNotify({
                    title:'Experiência excluída',
                    text: retorno.detail,
                    type: 'success',
                    delay:'5000'
                });
                // setTimeout(() => {
                //     location.reload();
                // })
            },
            error: function (error) {
                if (error.statusText == 'timeout') {
                new PNotify({
                    title: 'Requisição Cancelada',
                    text: 'Requisição ao serviço cancelada. Tente novamente em alguns minutos.',
                    type: 'error',
                    delay: '5000'
                });
                }

                console.log(error);
            }
        });
    }

    function deleteAcademic(academic_id){
        $.ajax({
            type: 'delete',
            url: `/api/profile/${academic_id}/academic-formation`,
            headers: { "Content-Type": "application/json; charset=UTF-8","X-CSRFToken": '{{csrf_token}}' },
            success: function (retorno) {
                var div = document.getElementById("div-content-academic")
                div.removeChild(div.lastElementChild)
                $(`#div-academic-${academic_id}`).remove()
                new PNotify({
                    title:'Formação acadêmica excluída',
                    text: retorno.detail,
                    type: 'success',
                    delay:'5000'
                });
            },
            error: function (error) {
                if (error.statusText == 'timeout') {
                new PNotify({
                    title: 'Requisição Cancelada',
                    text: 'Requisição ao serviço cancelada. Tente novamente em alguns minutos.',
                    type: 'error',
                    delay: '5000'
                });
                }

                console.log(error);
            }
        });
    }

    function getExperience(experience_id){
        $.ajax({
            type: 'get',
            url: `/api/profile/${experience_id}/experience`,
            headers: { "Content-Type": "application/json; charset=UTF-8","X-CSRFToken": '{{csrf_token}}' },
            success: function (retorno) {
                response = retorno.detail
                openModalExperience(true)
                $('#position').val(response['position'])
                document.getElementById("job_type").value = response['job_type']
                $('#company').val(response['company'])
                document.getElementById("job_modality").value = response['job_modality']
                $('#is_working')[0].checked = response['is_working']
                document.getElementById("started_date_experience").value = response['started_at'].split('T')[0]
                if (response['ended_at']){
                    document.getElementById("ended_date_experience").value = response['ended_at'].split('T')[0]
                }
                if (response['is_working'] == true){
                    document.getElementById("ended_date_experience").disabled = true
                    document.getElementById("ended_date_experience").value = null
                }
                $('#business_area').val(response['business_area'])

                document.getElementById("button-save-experience").setAttribute("onclick", `updateExperience('${experience_id}')`)
                // setTimeout(() => {
                //     location.reload();
                // })
            },
            error: function (error) {
                if (error.statusText == 'timeout') {
                new PNotify({
                    title: 'Requisição Cancelada',
                    text: 'Requisição ao serviço cancelada. Tente novamente em alguns minutos.',
                    type: 'error',
                    delay: '5000'
                });
                }

                console.log(error);
            }
        });
    }

    function getCompetence(competence_id){

        $.ajax({
            type: 'get',
            url: `/api/profile/${competence_id}/competence`,
            headers: { "Content-Type": "application/json; charset=UTF-8","X-CSRFToken": '{{csrf_token}}' },
            success: function (retorno) {
                response = retorno.detail
                openModalCompetence(true)
                $('#competence').val(response['competence_name'])
                if (response['experience']){
                    response['experience'].forEach(function(experience){
                        $(`#experience-${experience.id}`)[0].checked = true
                    })
                }
                if (response['academic']){
                    response['academic'].forEach(function(academic){
                        $(`#academic_education-${academic.id}`)[0].checked = true
                    })
                }

                document.getElementById("button-save-competence").setAttribute("onclick", `updateCompetence('${competence_id}')`)
            },
            error: function (error) {
                if (error.statusText == 'timeout') {
                new PNotify({
                    title: 'Requisição Cancelada',
                    text: 'Requisição ao serviço cancelada. Tente novamente em alguns minutos.',
                    type: 'error',
                    delay: '5000'
                });
                }

                console.log(error);
            },
        });
        
    }

    function getAcademicFormation(academic_id){
        $.ajax({
            type: 'get',
            url: `/api/profile/${academic_id}/academic-formation`,
            headers: { "Content-Type": "application/json; charset=UTF-8","X-CSRFToken": '{{csrf_token}}' },
            success: function (retorno) {
                response = retorno.detail
                openModalAcademicFormation(true)
                $('#educational_institution').val(response['educational_institution'])
                $('#course').val(response['course'])
                $('#knowledge_area').val(response['knowledge_area'])
                document.getElementById("started_date").value = response['started_at'].split('T')[0]
                document.getElementById("ended_date").value = response['ended_at'].split('T')[0]
                document.getElementById("button-save-academic").setAttribute("onclick", `updateAcademicFormation('${academic_id}')`)
            },
            error: function (error) {
                if (error.statusText == 'timeout') {
                new PNotify({
                    title: 'Requisição Cancelada',
                    text: 'Requisição ao serviço cancelada. Tente novamente em alguns minutos.',
                    type: 'error',
                    delay: '5000'
                });
                }

                console.log(error);
            }
        });
    }

    function updateCompetence(competence_id){
        var competence = document.querySelector('#competence').value
        var checkboxes = document.querySelectorAll('.checkbox')

        var experiences = []
        var academicTraining = []

        checkboxes.forEach(function(e){
            if (e.checked) {
                var word = e.id.split('-')
                if (word[0] == 'experience'){
                    experiences.push(Number(word.slice(-1)[0]))
                }else if (word[0] == 'academic_education'){
                    academicTraining.push(Number(word.slice(-1)[0]))
                }
            }
        })

        const data = {
            'competence': competence,
            'experiences': experiences,
            'academic_traning': academicTraining,
        }

        $.ajax({
            type: 'put',
            url: `/api/profile/${competence_id}/competence`,
            data: JSON.stringify(data),
            headers: { "Content-Type": "application/json; charset=UTF-8","X-CSRFToken": '{{csrf_token}}' },
            success: function (retorno) {
                var competence = retorno.competence
                var competenceDiv = document.getElementById(`div-competence-${competence_id}`)
                if (competence.experience || competence.academic){
                    var text = `<div class="div-several-content">
                        <h5>${competence.competence_name}</h5>
                        <div class="div-several-row">
                        <div class="several-row-text">`
                    if (competence.experience){
                        competence.experience.forEach(function(e){
                            text += `<p>${e.position} | ${e.company}</p>`
                        })
                    }
                    if (competence.academic){
                        competence.academic.forEach(function(e){
                            text += `<p>${e.course} | ${e.educational_institution}</p>`

                        })
                    }
                    text += `</div>
                            {% if is_same_profile %}
                            <div class="div-several-row-icon">
                                <a onclick="getCompetence('${competence.id}')" class="icon-several"><i class="fa-solid fa-pen"></i></a>
                                <a onclick="deleteCompetence('${competence.id}')" class="icon-several icon-trash"><i class="fa-solid fa-trash"></i></a>
                            </div>
                            {% endif %}
                        </div>
                        <hr>
                        </div>
                        `
                    competenceDiv.innerHTML = text
                } else{
                    var text = `
                            <div class="div-several-row">
                                <h5>${competence.competence_name}</h5>
                                {% if is_same_profile %}
                                <div>
                                    <a onclick="getCompetence('${competence.id}')" class="icon-several"><i class="fa-solid fa-pen"></i></a>
                                    <a onclick="deleteCompetence('${competence.id}')" class="icon-several icon-trash"><i class="fa-solid fa-trash"></i></a>
                                </div>
                                {% endif %}
                            </div>
                            <hr>
                        
                        `  
                    competenceDiv.innerHTML = text
                }
                closeModalCompetence()
                new PNotify({
                    title:'Competência atualizada',
                    text: retorno.detail,
                    type: 'success',
                    delay:'5000'
                });
                // setTimeout(() => {
                //     location.reload();
                // })
            },
            error: function (error) {
                if (error.statusText == 'timeout') {
                new PNotify({
                    title: 'Requisição Cancelada',
                    text: 'Requisição ao serviço cancelada. Tente novamente em alguns minutos.',
                    type: 'error',
                    delay: '5000'
                });
                }

                console.log(error);
            }
        });
    }

    function updateExperience(experience_id){
        var position = $("#position").val();
        var jobTypeSelect = document.getElementById("job_type");
        var jobType = jobTypeSelect.options[jobTypeSelect.selectedIndex].value;
        var company = $("#company").val();
        var jobModalitySelect = document.getElementById("job_modality");
        var jobModality = jobModalitySelect.options[jobModalitySelect.selectedIndex].value;
        var chk_isWorking = document.getElementById('is_working')
        var started_at = $("#started_date_experience").val();
        var ended_at = $("#ended_date_experience").val();
        var business_area = $("#business_area").val();

        data = {
            'position': position,
            'job_type': jobType,
            'company': company,
            'job_modality': jobModality,
            'is_working': chk_isWorking.checked,
            'started_at': started_at,
            'ended_at': ended_at,
            'business_area': business_area,
        }

        $.ajax({
            type: 'put',
            url: `/api/profile/${experience_id}/experience`,
            data: JSON.stringify(data),
            headers: { "Content-Type": "application/json; charset=UTF-8","X-CSRFToken": '{{csrf_token}}' },
            success: function (retorno) {
                var experience = retorno.experience
                var experienceDiv = document.getElementById(`div-experience-${experience_id}`)
                var value_date = 'até o momento'

                if (experience.ended_at){
                    value_date = experience.ended_at
                }

                text = `
                    <div class="div-several-row">
                        <img src="${"{{profile.get_url_photo}}"}" class="img-several" alt="imagem referente à instituição ou empresa em que a competência foi adquirida ou exercida">
                        <div class="several-row-text2">
                            <p>${experience.position}</p>
                            <p>${experience.company} • ${experience.job_modality}</p>
                            <p>${experience.started_at} - ${value_date}</p>
                        </div>
                        <div class="div-several-row-icon">
                            <a onclick="getExperience('${experience.id}')" class="icon-several"><i class="fa-solid fa-pen "></i></a>
                            <a onclick="deleteExperience('${experience.id}')" class="icon-trash icon-several"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                    <hr>
                `
                experienceDiv.innerHTML = text
                
                closeModalExperience()
                new PNotify({
                    title:'Experiência atualizada',
                    text: retorno.detail,
                    type: 'success',
                    delay:'5000'
                });
                // setTimeout(() => {
                //     location.reload();
                // })
            },
            error: function (error) {
                if (error.statusText == 'timeout') {
                new PNotify({
                    title: 'Requisição Cancelada',
                    text: 'Requisição ao serviço cancelada. Tente novamente em alguns minutos.',
                    type: 'error',
                    delay: '5000'
                });
                }

                console.log(error);
            }
        });
    }

    function updateAcademicFormation(academic_id){
        var educationalInstitution = $("#educational_institution").val();
        var course = $("#course").val();
        var knowledgeArea = $("#knowledge_area").val();
        var started_at = $("#started_date").val();
        var ended_at = $("#ended_date").val();

        data = {
            'educational_institution': educationalInstitution,
            'course': course,
            'knowledge_area': knowledgeArea,
            'started_at': started_at,
            'ended_at': ended_at,
        }

        $.ajax({
            type: 'put',
            url: `/api/profile/${academic_id}/academic-formation`,
            data: JSON.stringify(data),
            headers: { "Content-Type": "application/json; charset=UTF-8","X-CSRFToken": '{{csrf_token}}' },
            success: function (retorno) {
                var academic = retorno.academic
                var academicDiv = document.getElementById(`div-academic-${academic_id}`)

                text = `
                    <img src="${"{{profile.get_url_photo}}"}" class="img-several" alt="imagem referente à instituição ou empresa em que a competência foi adquirida ou exercida">
                    <div class="several-row-text2">
                        <p>${academic.educational_institution}</p>
                        <p>${academic.course}</p>
                        <p>${academic.started_at} - ${academic.ended_at}</p>
                    </div>
                    <div class="div-several-row-icon">
                        <a onclick="getAcademicFormation('${academic.id}')" class="icon-several"><i class="fa-solid fa-pen"></i></a>
                        <a onclick="deleteAcademic('${academic.id}')" class="icon-several icon-trash"><i class="fa-solid fa-trash"></i></a>
                    </div>
                    <hr>
                `
                academicDiv.innerHTML = text
                
                closeModalAcademicFormation()
                new PNotify({
                    title:'Formação acadêmica atualizada',
                    text: retorno.detail,
                    type: 'success',
                    delay:'5000'
                });
            },
            error: function (error) {
                if (error.statusText == 'timeout') {
                new PNotify({
                    title: 'Requisição Cancelada',
                    text: 'Requisição ao serviço cancelada. Tente novamente em alguns minutos.',
                    type: 'error',
                    delay: '5000'
                });
                }

                console.log(error);
            }
        });
    }
</script>
{% endif %}
{% endblock js %}