{% extends 'base.html' %} {%load static%} 
{% block title %}Busca de perfil{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/utils/filtro.css' %}" />
<link rel="stylesheet" href="{% static 'css/utils/container_default.css' %}" />
<link rel="stylesheet" href="{% static 'css/users/busca_perfil.css' %}" />
{% endblock css%} 
{% block body %}
<div class="div-form">
  <form action="">
    {% csrf_token %}
    <h5 class="form-h5">Pesquisa de Perfis</h5>

    <!-- row -->
    <div class="div-row1">
      <div class="form-field">
        <label for="name">Nome:</label>
        <div class="form-input">
          <input type="text" placeholder="Nome completo" name="name" class="form-control" value="{{request.session.name|default_if_none:''}}"/>
        </div>
      </div>

      <div class="form-field form-label2">
        <label for="genero">Gênero:</label>
        <select name="genero" id="genero" class="form-select">
          <option value="">Todos</option>
          {% for gender in genders %}
          <option value="{{gender.0}}" {% if request.session.gender == gender.0 %} selected {% endif %}>{{gender.1}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <!-- row -->
    <div class="div-row2">
      <div class="form-field">
        <label for="disabled">Deficiência:</label>
        <select name="disabled" id="disabled" class="form-select">
          <option value="">Todas</option>
          {% for disable in disables %}
          <option value="{{disable.0}}" {% if request.session.disabled == disable.0 %} selected {% endif %}>{{disable.1}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-field">
        <label for="state">Estado:</label>
        <select name="state" id="state" class="form-select">
          <option value="" selected>Selecione um estado</option>
          {% for state in states %}
          <option value="{{state.0}}" {% if request.session.state == state.0 %} selected {% endif %}>{{state.1}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-field">
        <label for="city">Cidade:</label>
        <select name="city" id="city" class="form-select">
          <option value="" selected>Selecione uma cidade</option>
        </select>
      </div>
    </div>

    <input type="submit" class="form-button" value="Filtrar" />
  </form>
</div>

{% for profile in profile_list %}
<a href="{% url 'profile' profile.id %}" class="div-container">
  <div class="photo">
    <img src="{{ profile.get_url_photo }}" class="photo-img" alt="foto de perfil">
  </div>
  <div class="div-dados">
    <p class="p-dados p-negrito">{{profile.name}}</p>
    <p class="p-dados">{{experience.position}}</p>
    <p class="p-dados">{{profile.city}}, {{profile.state}}</p>
  </div>
</a>
{% endfor %}

{% if profile_list.has_other_pages %}
<ul class="pagination">
  {% if profile_list.has_previous %}
  <li class="page-item">
    <a class="page-link" href="?page=1">
      First
    </a>
  </li>
  <li class="page-item">
    <a class="page-link"
      href="?page={{ profile_list.previous_page_number }}">
      &laquo;
    </a>
  </li>
  {% else %}
  <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
  {% endif %}
  {% for i in page_range %}
  {% if profile_list.number == i %}
  <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
  {% else %}
  <li class="page-item">
    <a class="page-link"
      href="?page={{ i }}">
      {{ i }}
    </a>
  </li>
  {% endif %}
  {% endfor %}
  {% if profile_list.has_next %}
  <li class="page-item">
    <a class="page-link"
      href="?page={{ profile_list.next_page_number }}">
      &raquo;
    </a>
  </li>
  <li class="page-item">
    <a class="page-link"
      href="?page={{ profile_list.paginator.num_pages }}">
      Last
    </a>
  </li>
  {% else %}
  <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}

{% endblock body%}
{% block js %}
<script>
  var state = document.querySelector("#state");

  document.body.onload = getCities

  state.addEventListener("change", getCities);

  function getCities(){
    let url = `https://servicodados.ibge.gov.br/api/v1/localidades/estados/${state.value}/municipios`;
    $("#city").empty();
    $("#city").append(
      `<option value="" selected>Selecione a cidade</option>`
    );

    let conteudo = "<optiongroup>";
    $.getJSON(url, function (data) {
      $.each(data, function (k, v) {
        if ('{{request.session.city}}' == v.nome){
          $("#city").append(`<option value="${v.nome}" selected>${v.nome}</option>`);
        } else{
          $("#city").append(`<option value="${v.nome}">${v.nome}</option>`);
        }
      });
    });
  }
</script>
{% endblock js %}
