{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/users/personalProfile.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/utils/pnotify.custom.min.css' %}">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/pnotify.custom.min.js' %}"></script>
    <title>Informações de Perfil</title>
</head>
<body>
    <div class="div-icon-accessibility">
        <i class="fa-sharp fa-solid fa-universal-access"></i>
    </div>
    <div class="body">
        <div class="form-div">
            <form method="post"
            {% if profile %} action="{% url 'profile_edit' id=profile.id %}" {% else %} action="{% url 'signup2' %}" {% endif %}
            enctype="multipart/form-data">
                {% csrf_token %}
                <div class="div-row">
                    <div class="div-column">
                        <div class="photo">
                            <div class="photo__div">
                                {% if profile %}
                                <img src="{{ profile.get_url_photo }}" class="photo-img" alt="foto de perfil">
                                {% else %}
                                <i class="fa-solid fa-user icon"></i>
                                {% endif %}
                            </div>
                        </div>
                        <label class="picture" for="foto" tabindex="0">
                            <span class="picture__image">Escolha uma imagem</span>
                        </label>
                        <input type="file" id="foto" name="foto" class="file" />
                    </div>
                    <div class="div-column">
                        <div class="form-field">
                            <label for="cpf">CPF:</label>
                            <div class="form-input">
                                <input type="text" name="cpf" id="cpf"
                                {% if profile %} value="{{profile.cpf}}"{% endif %}
                                required>
                            </div>
                        </div>
                        <div class="form-field">
                            <label for="rg">RG:</label>
                            <div class="form-input">
                                <input type="text" name="rg" id="rg"
                                {% if profile %} value="{{profile.rg}}"{% endif %}
                                required>
                            </div>
                        </div>
                        <div class="form-field">
                            <label for="birthdate">Data de Nascimento:</label>
                            <div class="form-input">
                                <input type="date" id="birthdate" name="birthdate"
                                {% if profile %} value="{{profile.birthdate|date:'Y-m-d'}}"{% endif %}
                                required>
                            </div>
                        </div>
                    </div>                
                </div>

                <div class="div-row">
                    <div class="form-field">
                    <label for="gender">Gênero:</label>
                        <div class="form-input">
                            <select name="gender" id="gender" class="form-select">
                                <option value="" disabled selected>Selecione o gênero</option>
                                {% for gender in genders %}
                                <option value="{{gender.0}}" {%if profile.gender == gender.0%} selected {%endif%}>{{gender.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-field form-ethnicity">
                        <label for="ethnicity">Etnia:</label>
                        <div class="form-input">
                            <select name="ethnicity" id="ethnicity" class="form-select">
                                <option value="" disabled selected>Selecione a entia</option>
                                {% for ethnicity in ethnicities %}
                                <option value="{{ethnicity.0}}" {%if profile.ethnicity == ethnicity.0%} selected {%endif%}>{{ethnicity.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="div-row">
                    <div class="form-field">
                        <label for="state">Estado:</label>
                        <div class="form-input">
                            <select name="state" id="state" class="form-select">
                                <option value="" disabled selected>Selecione o estado</option>
                                {% for state in states %}
                                <option value="{{state.0}}" {%if profile.state == state.0%} selected {%endif%}>{{state.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-field form-city">
                        <label for="city">Cidade:</label>
                        <div class="form-input">
                            <select name="city" id="city" class="form-select">
                                <option value="" disabled selected>Selecione a cidade</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="div-row">
                    <div class="form-field">
                        <label for="is_disabled">Possui deficiência?</label>
                        <div class="form-input">
                            <select name="is_disabled" id="is_disabled" class="form-select">
                                <option value="" disabled selected>Selecione uma opção</option>
                                <option value="True" {%if profile.is_disabled == True%} selected {%endif%}>Sim</option>
                                <option value="False" {%if profile.is_disabled == False%} selected {%endif%}>Não</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-field">
                        <label for="disabled">Qual deficiência?</label>
                        <select name="disabled" id="disabled" class="form-select" disabled>
                            <option value="" disabled selected>Selecione uma deficiência</option>
                            {% for disable in disables %}
                            <option value="{{disable.0}}" {%if profile.disable == disable.0%} selected {%endif%}>{{disable.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="div-button">
                    <button type="submit" id="form-button" class="button">Salvar</button>
                    <button type="button" class="button">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script>
    const inputFile = document.querySelector("#foto");
    
    var isDisabled = $('#is_disabled')
    isDisabled.change(function(){
        if (isDisabled.val() == 'True'){
            document.getElementById('disabled').disabled = false
        } else{
            document.getElementById('disabled').disabled = true
        }
    })
    

    inputFile.addEventListener("change", function(e){
        var divPhoto = document.querySelector(".photo__div");
        const inputTarget = e.target;
        const file = inputTarget.files[0];

        if (file) {
            const reader = new FileReader();

            reader.addEventListener("load", function(e){
                const readerTarget = e.target;

                const img = document.createElement("img");
                img.src = readerTarget.result;
                img.classList.add("photo-img");

                divPhoto.innerHTML = "";
                divPhoto.appendChild(img);
            })

            reader.readAsDataURL(file);
        }
    })

    document.body.onload = getCities

    var state = document.querySelector("#state");
    state.addEventListener("change", getCities);

    function getCities() {
        let url = `https://servicodados.ibge.gov.br/api/v1/localidades/estados/${state.value}/municipios`
        $("#city").empty();
        $("#city").append(`<option value="" disabled selected>Selecione a cidade</option>`);

        let conteudo = "<optiongroup>";
        $.getJSON(url, function(data){
            $.each(data, function(k, v){
                if ('{{profile.city}}' == v.nome){
                    $("#city").append(`<option value="${v.nome}" selected>${v.nome}</option>`);
                }else{
                    $("#city").append( `<option value="${v.nome}">${v.nome}</option>`);
                }
            });
        });
    }

    $("#cpf").mask('000.000.000-00');
    $("#rg").mask('00.000.000-0');

</script>
{% for message in messages %}
  <script type="text/javascript">
    $(document).ready(function () {
      new PNotify({
        title: '{{ message.extra_tags }}',
        text: '{{ message.message }}',
        type: '{{ message.level_tag }}',
      });
    });
  </script>
{% endfor %}
</html>
