{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils/pnotify.custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome5.9.0/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/accessibility/asb.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/pnotify.custom.min.js' %}"></script>
  {% block css %}
  {% endblock css %}

  <title>EYpen | {% block title %}{% endblock title %}</title>

</head>

<body>
  <nav class="sidebar">

    <div class="expand-button">
      <h5>Eypen</h5>
    </div>

    <div class="profile-info" style="display: none;">
      <div class="logo">
        <h5>Eypen</h5>
      </div>

      {% if profile_user.is_applicant %}
      <div class="profile-image">
        <a href="{% url 'profile' id=profile_user.id %}">
          <img src="{{ profile_user.get_url_photo }}" class="img" alt="foto de perfil">
        </a>
      </div>
      <div class="profile-text">
        <p class="profile-name">{{ profile_user.name }}</p>
      </div>
      {% else %}
      <div class="profile-image">
        <a href="{% url 'company_profile' id=profile_user.company.id %}">
          <img src="{{ profile_user.company.get_url_photo }}" class="img" alt="foto de perfil">
        </a>
      </div>
      <div class="profile-text">
        <p class="profile-name">{{ profile_user.company.name }}</p>
      </div>
      {% endif %}
    </div>

    <div class="div-list">
      {% if profile_user.is_applicant %}
      <span class="menu-item">
        <a href="{% url 'busca_vagas' %}">
          <span class="icon"><i class="fa-regular fa-suitcase"></i></span>
          <span class="txt-link">Procurar vagas</span>
        </a>
      </span>
      {% endif %}

      {% if profile_user.is_applicant %}
      <span class="menu-item">
        <a href="{% url 'busca_empresa' %}">
          <span class="icon"><i class="fa-regular fa-building"></i></span>
          <span class="txt-link">Procurar empresas</span>
        </a>
      </span>
      {% endif %}

      <span class="menu-item">
        <a href="{% url 'busca_perfil' %}">
          <span class="icon"><i class="fa-regular fa-user"></i></span>
          <span class="txt-link">Procurar perfis</span>
        </a>
      </span>

      {% if profile_user.is_company %}
      <span class="menu-item">
        <!-- TODO colocar url de cadastro de vagas -->
        <a href="#">
          <span class="icon"><i class="fa-solid fa-clipboard"></i></span>
          <span class="txt-link">Cadastrar vagas</span>
        </a>
      </span>
      {% endif %}

      <div class="menu-item-sair">
        <span class="menu-item" id="sair">
          <a href="{% url 'logout' %}">
            <span class="icon"><i class="fa-regular fa-right-from-bracket"></i></span>
            <span class="txt-link">Sair</span>
          </a>
        </span>
      </div>

    </div>
  </nav>
  
  <div class="overlay"></div>
  <div class="body">
    {% block body %}
    {% endblock body %}
  </div>
  
  
  {% block js %}
  {% endblock js %}
  <script type="text/javascript" src="{% static 'js/asb.js' %}"></script>
</body>

{% for message in messages %}
  <script type="text/javascript">
    $(document).ready(function () {
      new PNotify({
        title: '{{ message.extra_tags }}',
        text: '{{ message.message }}',
        type: '{{ message.level_tag }}',
      });
    });
  </script>
{% endfor %}

<script>
  //Seleciona os itens clicando
  var menuItem = document.querySelectorAll('.menu-item')

  function selectLink() {
    menuItem.forEach((item) =>
      item.classList.remove('ativo')
    )
    this.classList.add('ativo')

  }

  menuItem.forEach((item) =>
    item.addEventListener('click', selectLink)
  )

  //Foto de perfil
  var sidebar = document.querySelector('.sidebar');
  var profileInfo = document.querySelector('.profile-info');
  var expandButton = document.querySelector('.expand-button')

  // Função para mostrar o perfil
  function showProfileInfo() {
    profileInfo.style.display = 'flex';
    expandButton.style.display = 'none';
  }

  // Função para ocultar o perfil
  function hideProfileInfo() {
    profileInfo.style.display = 'none';
    expandButton.style.display = 'flex';
  }

  // Evento de passar o mouse na sidebar
  sidebar.addEventListener('mouseenter', showProfileInfo);

  // Evento de tirar o mouse da sidebar
  sidebar.addEventListener('mouseleave', hideProfileInfo);

</script>

</html>