{% extends 'base.html' %}
{%load static%}
{%block title%}Aprovação de Candidatos 
{%endblock title%}
{%block css%}
<link rel="stylesheet" href="{% static 'css/company/vaga_approve.css' %}" />
{%endblock css%}
{%block body%}
<div class="div-field">
    <div class="div-row header">
        <p class="p-negrito">Etapa {{step.step}}</p>
        <p class="p-negrito p-form">{{step.title}}</p>
        {% if process_finished %}
        <p class="process-finished">Processo Seletivo Encerrado</p>
        {% else %}
        <p></p>
        {% endif %}
    </div>
    <div>
        <p>Etapa será feita de forma {{step.step_modality}}</p>
        <p>Descrição:</p>
        <p>{{step.description|linebreaks}}</p>
    </div>
</div>
<form id="form" method="post">
    {% csrf_token %}
    <div class="div-field2" id="candidate">
        <p class="p-negrito">Candidatos na etapa:</p>
        <div class="div-scroll">
            {% for candidate in candidates%}
            <div class="div-container" id="candidate{{candidate.id}}">
                <div class="div-row">
                    <div class="photo">
                        <img src="{{candidate.get_url_photo}}" class="photo-img" alt="foto de perfil">
                    </div>
                    <div class="div-infos">
                        <div class="div-dados">
                            <p class="p-dados p-negrito">{{candidate.name}}</p>
                            <p class="p-dados">{{candidate.gender}}</p>
                            {% if candidate.is_disabled %}
                            <p class="p-dados">{{candidate.disabled}}</p>
                            {% endif %}
                            <p class="p-dados">{{candidate.city}}, {{candidate.state}}</p>
                        </div>
                        <div class="bt-approved">
                            <input class="bt-checkbox" type="checkbox" name="candidates" id="{{candidate.id}}">
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="div-button">
        <button type="submit" name="action" value="aprovar" class="form-button">Aprovar</button>
    </div>

    <div class="div-field2" id="approvedCandidate">
        <p class="p-negrito">Candidatos Aprovados:</p>
        {% for candidate in approved_candidates %}
        <div class="div-container" id="approvedCandidate{{candidate.id}}">
            <div class="div-row">
                <div class="photo">
                    <img src="{{candidate.get_url_photo}}" class="photo-img" alt="foto de perfil">
                </div>
                <div class="div-infos">
                    <div class="div-dados">
                        <p class="p-dados p-negrito">{{candidate.name}}</p>
                        <p class="p-dados">{{candidate.gender}}</p>
                        {% if candidate.is_disabled %}
                        <p class="p-dados">{{candidate.disabled}}</p>
                        {% endif %}
                        <p class="p-dados">{{candidate.city}}, {{candidate.state}}</p>
                    </div>
                    <div class="bt-approved">
                        <input class="bt-checkbox" type="checkbox" name="candidates-approved" id="{{candidate.id}}">
                    </div>
                </div>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>

    <div class="div-button">
        <button type="submit" name="action" value="retirar" class="form-button">Retirar</button>
    </div>

    <div class="div-button" style="margin-top: 50px;">
        <a href="{% url 'exibir_vagas' id=vacancy.company.id id_vacancy=vacancy.id %}" class="button-voltar">Voltar</a>
        <button type="submit" name="action" value="finalizar" class="form-button button-finish">Finalizar Etapa</button>
    </div>
</form>
{%endblock body%}

{% block js %}
<script>

    if ('{{process_finished}}' == 'True'){
        var checkboxes = document.querySelectorAll('.bt-checkbox')
        var buttons = document.querySelectorAll('.form-button')
        console.log(checkboxes)

        checkboxes.forEach(function(checkbox){
            checkbox.setAttribute('disabled', 'disabled')
            checkbox.style.cursor = 'unset'
        })

        buttons.forEach(function(button){
            button.disabled = true
        })  
    }

    $('#form').submit(function(event){
        event.preventDefault()
        var candidates = document.getElementsByName('candidates')
        var candidatesApproved = document.getElementsByName('candidates-approved')
        var candidatesList = []
        var candidatesApprovedList = []
        
        var data = {}

        if (event.originalEvent.submitter.value == 'aprovar'){
            data['action'] = 'aprovar'
            candidates.forEach(function(e){
                if (e.checked) {
                    candidatesList.push(e.id)
                }
            })
            data['candidates'] = candidatesList

        } else if (event.originalEvent.submitter.value == 'retirar'){
            data['action'] = 'retirar'
            candidatesApproved.forEach(function(e){
                if (e.checked) {
                    candidatesApprovedList.push(e.id)
                }
            })
            data['approved_candidates'] = candidatesApprovedList

        } else{
            data['action'] = 'finalizar'
        }

        $.ajax({
            type: 'post',
            url: "{% url 'atualizar_processo_seletivo' id=vacancy.id %}",
            dataType: 'json',
            headers: { "Content-Type": "application/json; charset=UTF-8","X-CSRFToken": '{{csrf_token}}' },
            data: JSON.stringify(data),
            success: function (retorno) {
                if (retorno.action == 'aprovar'){
                    removeCandidateToApproved(retorno.candidates)
                } else if (retorno.action == 'retirar') {
                    removeApprovedToCandidate(retorno.candidates)
                } else {
                    window.location.reload();
                }
                new PNotify({
                    title: retorno.title,
                    text: retorno.text,
                    type: 'success',
                    delay:'5000'
                });
                // setTimeout(function(){
                //     window.location.reload();
                // }, 5000);
            },
            error: function (error) {
                if (error.statusText == 'timeout') {
                new PNotify({
                    title: 'Requisição Cancelada',
                    text: 'Requisição ao serviço cancelada. Tente novamente em alguns minutos.',
                    type: 'error',
                    delay: '5000'
                });
                }
                console.log(error);
            }
        });
        
    })


    function removeCandidateToApproved(list){
        list.forEach(function(e){
            var divCandidate = document.getElementById(`candidate${e.id}`)
            divCandidate.remove()
            var candidateDiv = $('#approvedCandidate')

            var text = `
            <div class="div-container" id="approvedCandidate${e.id}">
                <div class="div-row">
                <div class="photo">
                    <img src="${e.get_url_photo}" class="photo-img" alt="foto de perfil">
                </div>
                <div class="div-infos">
                    <div class="div-dados">
                        <p class="p-dados p-negrito">${e.name}</p>
                        <p class="p-dados">${e.gender}</p>`

            if (e.is_disabled){
               text+=`<p class="p-dados">${e.disabled}</p>`
            }
            text+= `
                        <p class="p-dados">${e.city}, ${e.state}</p>
                    </div>
                    <div class="bt-approved">
                        <input class="bt-checkbox" type="checkbox" name="candidates-approved" id="${e.id}">
                    </div>
                </div>
                </div>
                <hr>
            </div>
            `
            candidateDiv.append(text)
        })
    }

    function removeApprovedToCandidate(list){
        list.forEach(function(e){
            var divCandidate = document.getElementById(`approvedCandidate${e.id}`)
            divCandidate.remove()
            var candidateDiv = $('#candidate')

            var text = `
            <div class="div-container" id="candidate${e.id}">
                <div class="div-row">
                <div class="photo">
                    <img src="${e.get_url_photo}" class="photo-img" alt="foto de perfil">
                </div>
                <div class="div-infos">
                    <div class="div-dados">
                        <p class="p-dados p-negrito">${e.name}</p>
                        <p class="p-dados">${e.gender}</p>
                        `
            if (e.is_disabled){
               text+=`<p class="p-dados">${e.disabled}</p>`
            }

            text+=`<p class="p-dados">${e.city}, ${e.state}</p>
                    </div>
                    <div class="bt-approved">
                        <input class="bt-checkbox" type="checkbox" name="candidates" id="${e.id}">
                    </div>
                </div>
                </div>
                <hr>
            </div>
            `
            candidateDiv.append(text)
        })
    }
</script>
{% endblock js %}
