{% extends 'base.html' %}
{% load static %}
{% load custom_filter %}
{%block title%}Vaga {{vacancy.job_position}}
{%endblock title%}
{%block css%}
<link href="{% static 'css/utils/container_default.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/company/vaga_company.css' %}" type="text/css">
{%endblock css%}
{% block body %}
<div class="body">
   <div class="div-container">

        <div class="div-row">
            <div class="imagem">
                <img src="{{vacancy.company.get_url_photo}}" alt="Imagem empresa" class="img-vaga">
            </div>
            <div class="div-text">
                <div class="div-title">
                    <p class="p-title1"> {{vacancy.company.name}}</p>
                    <p class="p-title1">{{vacancy.job_position}} - {{vacancy.seniority|display_seniority}}</p>
                </div>
                <div class="div-row2">
                    <div>
                        <p>{{vacancy.job_type|display_job_type}}</p>
                        <p>{{vacancy.job_modality|display_job_modality}}</p>
                    </div>
                    <div>
                        <p>{{vacancy.vulnerability|display_vulnerabilities}}</p>
                        <p>{{vacancy.city}}, {{vacancy.state}}</p>
                    </div>
                </div>
            </div>
            {% if is_same_company and vacancy.status == 'PEN' %}
            <a href="{% url 'editar_vagas' id=id_company id_vacancy=vacancy.id %}" class="icon-edit"><i class="fa-solid fa-pen-to-square icon"></i></a>
            {% endif %}
        </div>
        
        <hr>
        <div class="div-content">
            <p class="p-title">Descrição</p>
            <p class="p-content">{{vacancy.description|linebreaks}}</p>
        </div>


        <div class="div-etapa-button">
            <div class="div-content">
                <p class="p-title">Etapas</p>
                {% for step in vacancy.steps.all %}
                <li>{{step.step}} - {{step.title}}</li>
                    <p class="p-etapa">{{step.step_type}}</p>
                    <p class="p-etapa">Esta etapa será feita forma {% if step.step_modality == 'presencial' %} presencial {% else %} remota {% endif %}</p>
                    <p class="p-etapa">Descrição: {{step.description|linebreaks}}</p>
                {% endfor %}
            </div>

            <div class="div-button">
                <form action="{%url 'atualizar_vaga' id=vacancy.id %}" method="post">
                    {% csrf_token %}
                    {% if profile_user.company.id == id_company %}
                        {% if vacancy.status == 'PEN' %}
                        <a href="{% url 'registrar_etapa' id=id_company id_vacancy=vacancy.id %}" class="btn-actions">Editar etapa</a>
                        <button type="submit" name="action" value="ativar" class="button-ativar btn-actions">Ativar</button>
                        {% elif vacancy.status == 'ATV' %}
                        <button type="submit" name="action" value="encerrar" class="button-encerrar btn-actions">Encerrar</button>
                        {% endif %}
                        {% if vacancy.status not in 'INTV,ENC' %}
                        <button type="submit" name="action" value="inativar" class="button-encerrar btn-actions">Inativar</button>
                        {% endif %}
                        {% if vacancy.status not in 'INTV,ENC,PEN' %}
                        <a href="{% url 'vagas_processo_seletivo' id=id_company id_vacancy=vacancy.id %}" class="btn-actions">Acessar processo seletivo</a>
                        {% endif %}
                    {% endif %}
                    {% if profile_user.is_applicant and vacancy.status not in 'INTV,ENC,ATV' and not is_registered %}
                    <button type="submit" name="action" value="inscrever" class="btn-actions">Inscrever-se</button>
                    {% endif %}
                </form>
            </div>
        </div>

   </div>
   

</div>
{% endblock body%}