{% extends 'base.html' %} {%load static%} 
{% block css %}
<link rel="stylesheet" href="{% static 'css/users/busca_perfil.css' %}" />
<link rel="stylesheet" href="{% static 'css/utils/filtro.css' %}" />
<link rel="stylesheet" href="{% static 'css/utils/container_default.css' %}" />
{% endblock css%} 
{% block body %}
<div class="body">
  <div class="div-form">
    <form action="">
      <h5 class="form-h5">Pesquisa de Perfis</h5>

      <!-- row -->
      <div class="div-row1">
        <div class="form-field">
          <label for="nome">Nome:</label>
          <div class="form-input">
            <input type="Nome" placeholder="Nome" name="Nome" class="form-control"/>
          </div>
        </div>

        <div class="form-field form-label2">
          <label for="genero">Gênero:</label>
          <select name="genero" id="genero" class="form-control">
            <option value="masculino">Masculino</option>
            <option value="feminino">Feminino</option>
            <option value="na">Não desejo informar</option>
          </select>
        </div>
      </div>

      <!-- row -->
      <div class="div-row2">
        <div class="form-field">
          <label for="deficiencia">Deficiência:</label>
          <select name="deficiencia" id="deficiencia" class="form-control">
            <option value="" disabled selected>Selecione uma deficiência</option>
            <option value="cego">Cego</option>
            <option value="surdo">Surdo</option>
            <option value="mudo">Mudo</option>
          </select>
        </div>

        <div class="form-field">
          <label for="state">Estado:</label>
          <select name="state" id="state" class="form-control">
            <option value="" disabled selected>Selecione um estado</option>
            <option value="AC">AC</option>
            <option value="AL">AL</option>
            <option value="AP">AP</option>
            <option value="AM">AM</option>
            <option value="BA">BA</option>
            <option value="CE">CE</option>
            <option value="DF">DF</option>
            <option value="ES">ES</option>
            <option value="GO">GO</option>
            <option value="MA">MA</option>
            <option value="MT">MT</option>
            <option value="MS">MS</option>
            <option value="MG">MG</option>
            <option value="PA">PA</option>
            <option value="PB">PB</option>
            <option value="PR">PR</option>
            <option value="PE">PE</option>
            <option value="PI">PI</option>
            <option value="RJ">RJ</option>
            <option value="RN">RN</option>
            <option value="RS">RS</option>
            <option value="RO">RO</option>
            <option value="RR">RR</option>
            <option value="SC">SC</option>
            <option value="SP">SP</option>
            <option value="SE">SE</option>
            <option value="TO">TO</option>
          </select>
        </div>

        <div class="form-field">
          <label for="city">Cidade:</label>
          <select name="city" id="city" class="form-control">
            <option value="" disbaled selected>Selecione uma cidade</option>
          </select>
        </div>
      </div>

      <input type="submit" class="form-button" value="Filtrar" />
    </form>
  </div>
<a href="" class="div-container">
    <img
      class="img-container"
      src="{% static 'images/foto-perfil.jpg' %}"
      alt="Imagem de Perfil"
    />

    <div class="div-dados">
      <p class="p-dados p-negrito">Nome pessoa</p>
      <p class="p-dados">Cargo pessoa</p>
      <p class="p-dados">Estado/cidade</p>
    </div>
</a>
</div>
{% endblock body%}
{% block js %}
<script>
  var state = document.querySelector("#state");

  state.addEventListener("change", function (e) {
    let url = `https://servicodados.ibge.gov.br/api/v1/localidades/estados/${state.value}/municipios`;
    $("#city").empty();
    $("#city").append(
      `<option value="" disabled selected>Selecione a cidade</option>`
    );

    let conteudo = "<optiongroup>";
    $.getJSON(url, function (data) {
      $.each(data, function (k, v) {
        $("#city").append(`<option value="${v.nome}">${v.nome}</option>`);
        // console.log(v.nome)
      });
      // conteudo += "</optiongroup>";
    });
    // city.appendChild(conteudo);
  });
</script>
{% endblock js %}
